.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 40px;
  text-align: center;
}
.card {
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  padding: 20px 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: 0.2s;
}
.card button svg {
  margin: 0 5px;
}
.card:hover {
  background-color: #ddd;
}
.card p {
  margin: 10px 0;
  color: black;
}
.card img {
  border-radius: 10px;
  width: 200px;
  height: 200px;
}
